DockerFile
.sonarcloud.properties
LICENSE
README.md

*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
**/bin
**/obj
bin/
obj/

# .NET Core
launchSettings.json
appsettings.development.json