@using Sinance.Domain.Entities
@model Sinance.Web.Model.ImportModel

<h2>Bestand importeren</h2>

@section scripts {
    <script type="text/javascript">
        function SetImportBank(type) {
            $("#ImportBankId").val(type);
        }
    </script>
}

@using (Html.BeginForm("StartImport", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="panel panel-default">
    <div class="panel-heading">Kies uw bank</div>
    <div class="panel-body">
        @Html.HiddenFor(item => item.ImportBankId)

        @foreach (ImportBank importBank in Model.AvailableImportBanks)
            {
        <p>
            <button class="btn btn-primary" onclick="SetImportBank('@(importBank.Id)') ">@importBank.Name</button>
        </p>
            }
    </div>
</div>
}