<TopBar Title="@Title" />

<div class="content px-4">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
