@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" ShowProgressBar="true" />