@using Sinance.Communication.Model.Graph
@model List<BalanceHistoryRecord>

@{
    var seriesData = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => new
{
    name = x.AccountTypeGroup.ToString(),
    data = x.BalanceHistory
}));
}

<script type="text/javascript">
    $(function () {
        CreateBalanceHistoryGraph("#historyGraph", @Html.Raw(seriesData));
    });
</script>
<script src="~/scripts/charts/charts-balance-history.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <em class="fa fa-bar-chart-o fa-fw"></em> Balans Historie
    </div>
    <div class="panel-body">
        <div id="historyGraph" style="height: 400px;"></div>
    </div>
</div>