@model Sinance.Web.ViewComponents.YearlyProfitGraphViewComponentModel

<script type="text/javascript">
    var profitGraphCurrentYear;

    $(function () {
        CreateProfitGraph(@Model.InitialYear);
    });

    function CreateProfitGraph(year) {
        profitGraphCurrentYear = year;
        $("#profitGraphYearSpan").text(year);
        $.ajax({
            type: "POST",
            url: "@Url.Action("ProfitPerMonthForYearGrouped", "Graph")",
            data: { year },
            success: function (response) {
                CreateProfitPerYearGraph("#profitGraph", response.objectData);
            }
        });
    }
</script>
<script src="~/scripts/charts/charts-profit-per-year.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <em class="fa fa-bar-chart-o fa-fw"></em> Winst/Verlies
        @if (Model.CanChangeYear)
        {
            <div class="pull-right">
                <a href="#" onclick=" CreateProfitGraph(profitGraphCurrentYear - 1);"><em class="fa fa-chevron-left fa-fw"></em></a> <span id="profitGraphYearSpan"></span> <a href="#" onclick="CreateProfitGraph(profitGraphCurrentYear + 1);"><em class="fa fa-chevron-right fa-fw"></em></a>
            </div>
        }
    </div>
    <div class="panel-body">
        <div id="profitGraph" style="height: 400px;"></div>
    </div>
</div>