@using Sinance.Web.Components;

<!DOCTYPE html>
<html lang="nl-nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinance</title>

    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/content/colpick.css" rel="stylesheet" />

    <link href="~/content/default-layout.min.css" rel="stylesheet" />
    <link href="~/content/font-awesome.css" rel="stylesheet" />
    <link href="~/content/jquery-ui.css" rel="stylesheet" />
    <link href="~/content/metisMenu.css" rel="stylesheet" />
    <link href="~/content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/content/Site.css" rel="stylesheet" />
    <link href="~/content/timeline.css" rel="stylesheet" />

    <script src="~/scripts/jquery-2.1.4.min.js"></script>
    <script src="~/scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/generalHelper.js"></script>

    <script src="~/scripts/colpick.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/metisMenu.min.js"></script>
    <script src="~/scripts/bootbox.min.js"></script>
    <script src="~/scripts/sb-admin-2.js"></script>

    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/scripts/highcharts.js"></script>
    <script src="~/scripts/highcharts.config.js"></script>

    <script src="~/scripts/moment-with-locales.min.js"></script>
    
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sinance</a>
            </div>
            @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <em class="fa fa-user fa-fw"></em> Logged in<em class="fa fa-caret-down"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="@Url.Action("Manage", "Account")"><em class="fa fa-user fa-fw"></em> Profiel</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><em class="fa fa-sign-out fa-fw"></em> Uitloggen</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
            }
        }

            @await Component.InvokeAsync(nameof(SideNavigation))
        </nav>

        <div id="page-wrapper">
            @await Html.PartialAsync("TemporaryMessage")
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>