@using Sinance.Communication.Model.Transaction

@model IEnumerable<TransactionModel>

<table class="table TransactionTable">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th></th>
            <th class="amountColumn">Bedrag</th>
            <th>Omschrijving</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var transaction in Model)
            {
                @await Html.PartialAsync("TransactionSimpleRow", transaction)
            }
        }
    </tbody>
</table>