@using Sinance.Communication.Model.Transaction

@model IEnumerable<TransactionModel>

<table class="table TransactionTable">
    <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Titel</th>
            <th scope="col"></th>
            <th scope="col" class="amountColumn">Bedrag</th>
            <th scope="col">Omschrijving</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var transaction in Model)
            {
                @await Html.PartialAsync("TransactionSimpleRow", transaction)
            }
        }
    </tbody>
</table>