@page "/Categories"
@inject Sinance.BlazorApp.Business.Services.ICategoryService categoryService
@using Sinance.BlazorApp.Business.Model.Category
@using Sinance.BlazorApp.Pages.Categories.Components

<BodyContent Title="Categories">
    <div class="container-fluid">
        <div class="card shadow mb-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Color</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories.Where(x => x.ParentId == null))
                        {
                            <CategoryListRow Category="category" Level="0"></CategoryListRow>

                            foreach (var childCategory in Categories.Where(x => x.ParentId == category.Id))
                            {
                                <CategoryListRow Category="childCategory" Level="1"></CategoryListRow>
                            }
                        }
                    </tbody>
                </table>
        </div>
    </div>
</BodyContent>

@code {
    public List<CategoryModel> Categories { get; set; }

    protected override Task OnInitializedAsync()
    {
        Categories = this.categoryService.GetAllCategories().OrderBy(x => x.Name).ToList();

        return base.OnInitializedAsync();
    }
}