@using Sinance.Communication.Model.StandardReport.Expense

@model BiMonthlyExpenseReportModel
@{
    ViewBag.Title = "ExpensesPerCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Uitgaven overzicht</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Vaste lasten
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("ExpensesPartial", Model.RegularBimonthlyExpenseReport)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Wisselende lasten
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("ExpensesPartial", Model.VolatileBimonthlyExpenseReport)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Uitgaven zonder categorie voor <strong>@Html.DisplayFor(item => item.RegularBimonthlyExpenseReport.SecondMonthDate)</strong>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("TransactionsSimpleTable", Model.UncategorizedTransactionsThisMonth)
            </div>
        </div>
    </div>
</div>