@using Sinance.Communication.Model.StandardReport.Income

@model BiMonthlyIncomeReportModel

@{
    ViewBag.Title = "IncomesPerCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2>IncomesOverview</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Vaste lasten
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("BiMonthlyIncomesPartial", Model.BimonthlyIncomeReport)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Inkomsten zonder categorie voor <strong>@Html.DisplayFor(item => item.BimonthlyIncomeReport.SecondMonth)</strong>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("TransactionsSimpleTable", Model.UncategorizedTransactionsThisMonth)
            </div>
        </div>
    </div>
</div>