@page "/Transactions/Search"
@inject Sinance.BlazorApp.Business.Services.ITransactionService transactionService
@using Sinance.BlazorApp.Business.Model.Transaction
@using System.Globalization

<BodyContent Title="Transaction Search">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <input type="text" id="name" class="form-control border-1 small" placeholder="Name" name="reference" @bind="FilterModel.Name">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <CategoriesDropdown @bind-Category="FilterModel.Category"></CategoriesDropdown>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <BankAccountsDropdown @bind-BankAccount="FilterModel.BankAccountId"></BankAccountsDropdown>
                    </div>
                </div>
                <div class="col-12 pt-2">
                    <button class="btn btn-primary float-right" @onclick="DoSearch">Search</button>
                </div>
            </div>

        </div>
        <div class="card shadow mb-4">
            <TransactionTable Transactions="Transactions" PageSize="PageSize" OnLoadMore="LoadMoreTransactions"></TransactionTable>
        </div>
    </div>
</BodyContent>

@code {
    public SearchTransactionsFilterModel FilterModel;

    public List<TransactionModel> Transactions { get; set; }

    public int PageSize = 500;

    protected override void OnInitialized()
    {
        FilterModel = new SearchTransactionsFilterModel
        {
            Page = 0,
            PageSize = PageSize
        };
        Transactions = new List<TransactionModel>();

        base.OnInitialized();
    }

    public async Task DoSearch()
    {
        Transactions = new List<TransactionModel>();
        await LoadMoreTransactions();
    }

    public async Task LoadMoreTransactions()
    {
        if (Transactions.Any())
        {
            FilterModel.Page++;
        }

        Transactions.AddRange(await transactionService.SearchTransactionsPaged(FilterModel));
    }
}
