@page "/Transactions/Search"
@inject Sinance.BlazorApp.Business.Services.ITransactionService transactionService
@using Sinance.BlazorApp.Business.Model.Transaction

<BodyContent Title="Transaction Search">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header">
                Filter
            </div>
            <div class="card-body">
                <EditForm Model="@FilterModel" OnValidSubmit="DoSearchAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" class="form-control border-1 small" placeholder="Name" @bind="FilterModel.Name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Description</label>
                                <input type="text" id="name" class="form-control border-1 small" placeholder="Description" @bind="FilterModel.Description">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Category</label>
                                <CategoriesDropdown @bind-Category="FilterModel.Category"></CategoriesDropdown>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Bank Account</label>
                                <BankAccountsDropdown @bind-BankAccount="FilterModel.BankAccountId"></BankAccountsDropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pt-2">
                            <button class="btn btn-primary float-right" type="submit">Search</button>
                        </div>
                    </div>
                </EditForm>
            </div>

        </div>

        <TransactionsPanel FilterModel=FilterModel @ref=transactionsPanel />
    </div>
</BodyContent>

@code {
    private TransactionsPanel transactionsPanel;

    public SearchTransactionsFilterModel FilterModel = new SearchTransactionsFilterModel();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await transactionsPanel.ReloadAsync();
    }

    public async Task DoSearchAsync()
    {
        await transactionsPanel.ReloadAsync();
    }
}
